rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{uid} {
			allow read, write: if request.auth.uid == uid;
    }
    match /playlists/{document} {
      allow read; 
      allow write: if false;
    }
    match /feedback/{document} {
      allow create;
      allow read, delete, update: if false;
    }
    match /analytics/{document=**} {
      allow read, write: if false;
    }
    // Collection Group matches:
    match /{path=**}/albums/{doc} {
      allow read;
      allow write: if false;
    }
    match /{path=**}/songs/{doc} {
      allow read;
      allow write: if false;
    }
  }
}