@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh-minus-48: calc(100vh - 48px);
  --vh-minus-96: calc(100vh - 96px);
}

html,
body {
  height: 100%;
}

body {
  @apply dark:bg-almostblack bg-zinc-50;
}

@layer components {
  .control-bar-show {
    @apply transition-transform duration-700 cursor-pointer fixed bottom-12 left-0 right-0;
  }

  .control-bar-hide {
    @apply translate-y-full transition-transform duration-700 fixed bottom-12 left-0 right-0;
  }

  .player-show {
    @apply transition-transform overflow-y-auto duration-300 text-white z-50 flex flex-col w-screen items-center bg-black bg-opacity-90 inset-0 fixed;
  }

  .player-hide {
    @apply translate-y-full transition-transform duration-300 text-white z-50 flex flex-col w-screen items-center overflow-hidden bg-black bg-opacity-90 inset-0 fixed;
  }

  .divide {
    @apply divide-y divide-solid divide-neutral-300;
  }
}
